<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
@model List<Gr4WebshopIncReact.Models.Category>
<h2>Create Category</h2>

@*
    string Name
    bool isMain
    list subcategories
*@
<form>
    <table>
        <thead>
            <tr>
                <td>Value</td>
                <td>Input</td>
            </tr>
        </thead>
        <ln />
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" id="c-name" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td>
                Is this a main category?
            </td>
            <td>
                <input type="checkbox" id="c-main" />
            </td>
        </tr>
        <tr>
            <td>
                Sub Categories
            </td>
            <td>
                <div id="c-categories" class="dropdown-check-list" tabindex="100">
                    <span class="anchor" onclick="loadList('c-categories')">Categories</span>
                    <ul class="items" id="c-listed-categories">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            // Remove the folder name from the dispaly of the image for ease of locating
                            <li><input type="checkbox" id="@Model[i].Id" />@Model[i].Name</li>
}
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <input type="button" onclick="attemptCategoryCreation()" value="Add Category" />
</form>



<script>
    function loadList(id) {
        // The first time the drop down menu is set up,
        // Give it an event for toggling the options being visible and not
        var checkList = document.getElementById(id);


        if (!checkList.classList.contains('anchored')) {

            checkList.getElementsByClassName('anchor')[0].onclick =
                function (evt) {
                    if (checkList.classList.contains('visible'))
                        checkList.classList.remove('visible');
                    else
                        checkList.classList.add('visible');
                }

            checkList.classList.add('anchored');
            checkList.classList.add('visible');
        }
    }

    // get variables, verify, and send post request
    function attemptCategoryCreation() {

        // Files squred from form
        let cName = document.getElementById("c-name").value;
        let cIsMain = document.getElementById("c-main").checked.toString();

        // Get all checked images for the additional images
        let cSubCats = [];
        let catList = document.getElementById("c-listed-categories").getElementsByTagName("li");
        for (var i = 0; i < catList.length; i++) {
            if (catList[i].children[0].checked == true) {
                cSubCats.push(catList[i].children[0].id.toString());
            }
        }

        // Validation
        if (cName == "") {
            console.log("no name entered");
            return;
        }

        // Debug
        axios.interceptors.request.use((config) => {
            console.log(config.params);
            return config;
        }, (error) => {
            if (DEBUG) { console.error("✉️ ", error); }
            return Promise.reject(error);
        });

        // Request made to the backend api
        // Send object
        axios.post('/api/category/createcategory', null, {
            params: {
                Name: cName,
                isMainCateGory: cIsMain,
                SubCategories: JSON.stringify(cSubCats)
            }
        }).then(res => {
            console.log(res);
            window.location.reload();
        })

    }
</script>

<style>
    .dropdown-check-list {
        display: inline-block;
    }

        .dropdown-check-list .anchor {
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding: 5px 50px 5px 10px;
            border: 1px solid #ccc;
        }

            .dropdown-check-list .anchor:after {
                position: absolute;
                content: "";
                border-left: 2px solid black;
                border-top: 2px solid black;
                padding: 5px;
                right: 10px;
                top: 20%;
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

            .dropdown-check-list .anchor:active:after {
                right: 8px;
                top: 21%;
            }

        .dropdown-check-list ul.items {
            padding: 2px;
            display: none;
            margin: 0;
            border: 1px solid #ccc;
            border-top: none;
        }

            .dropdown-check-list ul.items li {
                list-style: none;
            }

        .dropdown-check-list.visible .anchor {
            color: #0094ff;
        }

        .dropdown-check-list.visible .items {
            display: block;
        }
</style>