@model List<Gr4WebshopIncReact.Models.Category>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

<h2>Remove Category</h2>
<form id="category-remove-form">
    <select id="category-to-remove">
        Product to remove:
        @for (int i = 0; i < Model.Count; i++)
        {
<option value=@Model[i].Id> @Model[i].Name (@Model[i].Id) </option>
}
    </select>
    <input type="Button" onclick="removeCategory()" value="Remove" />
</form>

<script>function removeCategory() {

    let cId = document.getElementById('category-to-remove').value;


        // Request made to the backend api
        // Send formData object
    axios.post('/api/Category/removecategory', null, {
            params: {
                Id: cId
            }
        }).then(res => {
            console.log(res);
            // if succsess
            window.location.reload();

        })

    }</script>