@using Gr4WebshopIncReact.Models.viewModels
@model ProductMgmtVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</div>

<h2>Upload images</h2>
<form enctype="multipart/form-data">
    <input class="custom-file-input" id="customFile" type="file" data-val="true" data-val-required="Please choose images" multiple="multiple" name="Files" />
    <br />
    <input type="button" onclick="attemptUpload()" value="Upload files" />
</form>
<p id="results-container">Currently lacking front-end validation</p>
<p><b>Currently lacking front-end validation</b></p>


<script>
    function attemptUpload() {

        // Files squred from form
        let files = document.getElementById("customFile").files;

        // VALIDATE HERE
        //
        //
        //
        // VALIDATE HERE


        // Create an object of formData
        const formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append('Files', files[i]); // This generates an array under the name Files
        }

        // Request made to the backend api
        // Send formData object
        axios.post('/api/FileUploading/UploadNewImages', formData)
            .then(res => {
                console.log(res);
                // Inform user of server response
                if (res.data == "No error detected") {
                    document.getElementById("results-container").innerText = "Upload successful";
                    window.location.reload();
                } else {
                    document.getElementById("results-container").innerText = res.data;
                }
                
            })
            .catch(error => {
                console.error(error.response.data); // Inform user of errors here
            })
    }
</script>
