@using Gr4WebshopIncReact.Models.viewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

<h1>Admin view loaded</h1>
<hr />
<a href="/Admin/ProductManagement">Products</a> || <a href="/">Store</a>

<hr />

