@using Gr4WebshopIncReact.Models.viewModels
@model AdminIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

<h1>Admin view loaded</h1>


@*<partial name="_FileUploadingForm" model="Model" />*@

<partial name="_ProductCreationForm" />

<h2>Images currently uploaded</h2>
<p>Included for easier development, does not update dynamically</p>
<div id="gallery-container">
    <partial name="_Gallery" model="Model.ImageLocations" />
</div>

