@using Gr4WebshopIncReact.Models.viewModels
@model ProductMgmtVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

<a href="/Admin/Index">Index</a> || <a href="/Admin/CategoryManagement">Categories</a> || <a href="/">Store</a>

<partial name="_FileUploadingForm" model="Model" />
<hr />
<partial name="_ProductRemovalForm" model="Model.Products" />
<hr />
<partial name="_productcreationform" model="Model.ProductCreatorVM" />
<hr />
<partial name="_ProductEditor" model="Model.ProductEditorVM" />